<h1>Tasks</h1>
<%= link_to "To Do", tasks_path %>
<%= link_to "All Tasks", tasks_path(view_all: true) %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Completed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= task.name %>
        </td>
        <td>
          <%= task.completed %>
        </td>
        <td>
          <%= link_to 'Show', task %>
        </td>
        <td>
          <%= link_to 'Edit', edit_task_path(task) %>
        </td>
        <td>
          <%= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'Add a task', new_task_path %>
