<html>
  <head>
    <title>Todo</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="flash-display"></div>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <header>
      <% if current_user %>
        <a href="/logout">Log Out</a>
      <% else %>
        <a href="/login">Log In</a>
        <a href="/users/new">Create Account</a>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
